<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EC3</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}">
</head>
<body>
<div class="card">

    <!-- HEADER -->
    <div class="card-header">
        2° CÁLCULO DE DESCUENTO POR ANTIGÜEDAD
    </div>

    <!-- BODY -->
    <div class="card-body">

        <!-- FORMULARIO -->
        <form th:action="@{/calculardescuento}" method="post" th:object="${clientemodel}">

            <!-- CAMPOS SOLICITADOS -->
            <div class="mb-3">
                <label for="txtnombre" class="form-label">TU NOMBRE:</label>
                <input type="text" th:field="*{nombre}" class="form-control" id="txtnombre">
            </div>

            <div class="mb-3">
                <label for="txtantiguedad" class="form-label">ANTIGUEDAD COMPRANDO:</label>
                <input type="number" th:field="*{tiempo}" class="form-control" id="txtantiguedad">
            </div>

            <div class="mb-3">
                <label for="txtpago" class="form-label">MONTO A PAGAR:</label>
                <input type="number" th:field="*{totalapagar}" class="form-control" id="txtpago">
            </div>

            <!-- CALCULAR COMISION -->
            <button type="submit" class="btn btn-primary mb-3">CALCULAR</button>

        </form><!-- CIERRE DEL FORMULARIO -->

        <!-- MOSTRAR RESULTADO -->
        <div th:if="${visualizaralerta}" class="alert" th:classappend="${estilo}" role="alert">
            <span th:text="${resultado} ?: ''"></span>
        </div>

    </div>
</div>
</body>
</html>